services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  count: all
                  capabilities: [gpu]
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
      - ./indexes:/app/indexes
      - ./app.db:/app/app.db
      - hf_cache:/root/.cache/huggingface
    env_file:
      - .env
    environment:
      DATABASE_URL: sqlite:///./app.db
      OLLAMA_BASE_URL: http://ollama:11434
      SECRET_KEY: ${SECRET_KEY}
      HF_HOME: /root/.cache/huggingface
      NO_PROXY: "ollama,localhost,127.0.0.1"
    depends_on:
      - ollama

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  ollama_data:
  hf_cache: